html{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0px;
}

header{
	display: flex;
	text-align: center;
    padding: 5px 0px;
}

main{
	display:flex;
}

main.div{
	flex:1;
	display:flex;
	flex-direction: column;
}